<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjb.mapper.YjbSmsRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yjb.pojo.YjbSmsRecord" >
    <id column="record_id" property="recordId" jdbcType="BIGINT" />
    <result column="sms_id" property="smsId" jdbcType="VARCHAR" />
    <result column="sms_ctc" property="smsCtc" jdbcType="BIGINT" />
    <result column="sms_time" property="smsTime" jdbcType="TIMESTAMP" />
    <result column="sms_status" property="smsStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    record_id, sms_id, sms_ctc, sms_time, sms_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yjb.pojo.YjbSmsRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yjb_sms_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from yjb_sms_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from yjb_sms_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yjb.pojo.YjbSmsRecordExample" >
    delete from yjb_sms_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yjb.pojo.YjbSmsRecord" >
    insert into yjb_sms_record (record_id, sms_id, sms_ctc, 
      sms_time, sms_status)
    values (#{recordId,jdbcType=BIGINT}, #{smsId,jdbcType=VARCHAR}, #{smsCtc,jdbcType=BIGINT}, 
      #{smsTime,jdbcType=TIMESTAMP}, #{smsStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yjb.pojo.YjbSmsRecord" >
    insert into yjb_sms_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="smsId != null" >
        sms_id,
      </if>
      <if test="smsCtc != null" >
        sms_ctc,
      </if>
      <if test="smsTime != null" >
        sms_time,
      </if>
      <if test="smsStatus != null" >
        sms_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=BIGINT},
      </if>
      <if test="smsId != null" >
        #{smsId,jdbcType=VARCHAR},
      </if>
      <if test="smsCtc != null" >
        #{smsCtc,jdbcType=BIGINT},
      </if>
      <if test="smsTime != null" >
        #{smsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="smsStatus != null" >
        #{smsStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yjb.pojo.YjbSmsRecordExample" resultType="java.lang.Integer" >
    select count(*) from yjb_sms_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update yjb_sms_record
    <set >
      <if test="record.recordId != null" >
        record_id = #{record.recordId,jdbcType=BIGINT},
      </if>
      <if test="record.smsId != null" >
        sms_id = #{record.smsId,jdbcType=VARCHAR},
      </if>
      <if test="record.smsCtc != null" >
        sms_ctc = #{record.smsCtc,jdbcType=BIGINT},
      </if>
      <if test="record.smsTime != null" >
        sms_time = #{record.smsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.smsStatus != null" >
        sms_status = #{record.smsStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update yjb_sms_record
    set record_id = #{record.recordId,jdbcType=BIGINT},
      sms_id = #{record.smsId,jdbcType=VARCHAR},
      sms_ctc = #{record.smsCtc,jdbcType=BIGINT},
      sms_time = #{record.smsTime,jdbcType=TIMESTAMP},
      sms_status = #{record.smsStatus,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjb.pojo.YjbSmsRecord" >
    update yjb_sms_record
    <set >
      <if test="smsId != null" >
        sms_id = #{smsId,jdbcType=VARCHAR},
      </if>
      <if test="smsCtc != null" >
        sms_ctc = #{smsCtc,jdbcType=BIGINT},
      </if>
      <if test="smsTime != null" >
        sms_time = #{smsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="smsStatus != null" >
        sms_status = #{smsStatus,jdbcType=TINYINT},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjb.pojo.YjbSmsRecord" >
    update yjb_sms_record
    set sms_id = #{smsId,jdbcType=VARCHAR},
      sms_ctc = #{smsCtc,jdbcType=BIGINT},
      sms_time = #{smsTime,jdbcType=TIMESTAMP},
      sms_status = #{smsStatus,jdbcType=TINYINT}
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
</mapper>