.l-line{
    width: 12px;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
    margin-left: 30px;
    background: url("/img/l-line-white.png") left center no-repeat;
}
.contact-group{
    width: 17%;
    height: 200px;
    /*border: solid 1px black;*/
    float: left;
    /*margin-right: 1px;*/
}
.page-content-wrap{
    float: left;
    width: 83%;
    /*border: solid 1px black;*/
    /*height: 100%;*/
}
.layui-nav-bar{
    display: none;
}
.add-btn{
    position: relative;
    left: 20px;
    /*margin: 0 20px 0 20px;*/
}
.multi-del-btn{
    position: relative;
    left: 40px;
    /*margin: 0 20px 0 20px;*/
}
.oper-btn{
    width: 30px;
    padding: 0 0 0 1px;
}
.oper-i{
    position: relative;
    top: 1px;
    left: 1px;
}
.search-form{
    float: right;
}
.contact-info{
    padding: 20px 50px 0 50px;
    width: 600px;
    position: relative;
    left: 50px;
    display: none;
}
.input-text{
    width:400px;
}
